{

 :secrets #include #join [#env HOME "/.secrets.edn"]

 ;;:secrets #include #join [#env HOME "/git/cjdb" "/secrets.sample.edn"]

 :pwd #profile {:dev ^:ref [:secrets :dev-pwd]
                :test ^:ref [:secrets :test-pwd]
                :prod ^:ref [:secrets :prod-pwd]}

 :profileFromEnv #env PROFILE

 :export-schema-folder "resources/exports"

 :database-spec ^:ref [:secrets :source-db-url]

 }
