{
 :dev-pwd "postgres"
 :test-pwd "postgres"
 :prod-pwd "postgres"

 :dev-db-url {:classname "org.postgresql.Driver"
              :subprotocol "postgresql"
              :subname "//localhost:5432/webdev"
              ;; Not needed for a non-secure local database...
              :user "postgres"
              :password "postgres"}

 :source-db-url {:classname "org.postgresql.Driver"
                 :subprotocol "postgresql"
                 :subname "//localhost:5432/webdev"
                 ;; Not needed for a non-secure local database...
                 :user "postgres"
                 :password "postgres"}

 :aws-dev-key "XXXX-XXXX-XXX"
 :aws-test-key "YYYY-YYYY-YYYY"
 :aws-prod-key "ZZZZ=ZZZZ-ZZZZ"
 }
